.top-bar {font-size: $font-size-xs;border-bottom: solid 1px #f3f3f3;min-height: 40px;line-height: 40px;color: $color-text;

  .top-bar_right {
    div {margin: 0 5px;display: inline-block;}
  }
  i {font-size: 14px; margin: 0 5px 0 0}
  a {color: $color-text;
    &:hover {color: $color-base}
  }
}

.hotline {
  i {}
  a {}
}
.top-mail {
  i {}
  a { }
}
.top-social {
  a {display: inline-block;margin: 0 3px;color: $color-text}
}
