.news_related {}
.news_related_item {@extend %post_2col; padding: 0 0 10px;margin: 0 0 10px;border-bottom: solid 1px $color-bg-gray}
.news_related_title {@extend .widget_title;
  a {font-size: $font-size-xb;display: inline-block;position: relative;color: $color-text-heading;
    &:hover {color: $color-base}
    &::before {content: '';position: absolute;width: 100%;height: 3px;background: $color-base;bottom: -12px;left: 0px;}
  }
}
.news_related_thumb {margin: 0;@extend %post_col-left;
  a {
    img {max-width: 100%}
  }
}
.news_related_content {@extend %post_col-right;}
.news_related_des {
  a {color: $color-text;
    &:hover {color: $color-base}
  }
}
.news_related_time {@extend .widget_time}