#services{background: $color-bg-gray}
.our-services {}
.service-item {font-size: $font-size-s;text-align: center;margin: 0 0 30px; @extend %custom_reponsive;}
.service-info {}
.service-thumb {overflow: hidden;
  a {
    img {max-width: 100%;@extend %image-hover;}
  }
}
.service-title {background: $color-base;margin: 0;padding: 0 15px;
  a {display: block;color: #fff;text-transform: uppercase;min-height: 45px;line-height: 45px;font-size: $font-size-s;}
}
.service-summary {background: #fff;min-height: 140px;padding: 10px;margin: 0;
  @media (max-width: $bp-sm) {
    min-height: inherit;
  }
}

