#blog {margin-bottom: 50px}
.blog-posts {background: #f4f4f4}
.post-item {margin: 15px 0;
  &.post-item_highlight {margin: 0;
    .post-info {background: #291672;padding: 10px;color: #fff}
    .post-title {font-size: 18px;margin: 0 0 10px;
      a {color: #fff}
    }
  }
}
.post-thumb {margin: 0;position: relative;overflow: hidden;
  a { display: block;
    img {margin: 0 auto;/*@extend %image-hover;*/width: 100%}
  }
}
.post-header {margin: 0 0 15px}
.post-title {font-size: $font-size-m;margin: 0;line-height: 24px;
  a {color: $color-text;font-weight: bold;
    &:hover {color: $color-base}
  }
}

.post-content {}
.post-time {background: $color-base;padding: 5px;color: #fff;text-align: center;line-height: 15px;display: block;position: absolute;bottom: 0;left: 0;
  @media (min-width: 480px) {
    line-height: 22px;
    padding: 0 5px;
  }
}
.post-date { font-size: 11px;
  @media (min-width: 480px) {
    font-size: 30px;
  }
}
.post-month {font-size: 11px;text-transform: uppercase}
