#services{/*background-repeat: no-repeat;background-position: 50% 50%;*/background: url('../images/bg-service.jpg') no-repeat 50% 50% ;
  .section_title {color: #fff;
    &::before,
    &::after {background: #fff;}
  }
  .section_des {color: #fff}
}
.our-services {}
.service-item {font-size: $font-size-s;text-align: center;margin: 0 0 30px; }
.service-thumb {overflow: hidden;margin: 0 0 15px}
.service-info {text-transform: uppercase;color: #fff;}
.service-title {font-size: $font-size-s;margin: 0 0 5px;font-family: Roboto}
.service-title_en {font-family: 'Roboto-light';font-size: 13px;margin: 0}
