#about-us {}
.about-us_item {position: relative;}
.about-us_image {
  img {margin: 0 auto}
}
.about-us_info {width: 100%;height: 100%;color: inherit;padding: 10px 10px 0 0;
  @include transition(all,.3s,ease-in-out);
  &:hover {}
}
.about-us_title {font-family: 'Roboto';text-transform: uppercase;color: inherit;font-size: 18px;margin: 0 0 10px}
.about-us_number {font-size: 36px;color: #ddd;display: inline-block;margin: 0 5px 0 0;position: relative;
  &::before {content: '';border-bottom: solid 2px #291672;position: absolute;width: 100%;bottom: 0}
}


